body {
    background-color: yellow;
    border: 1px solid red;
}
 div {
border: 3px double blue;
margin-bottom: 50px;
}
.box1 {
    width: 400px;
    height: 100px;
}
.box2 {
    width: 70%;
    height: 100px;
}