        body {
            font-family: Arial, sans-serif;
            background-color: rgb(215, 208, 208);
            margin: 0;
            padding: 20px;
        }

        header {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            text-align: center;
        }

        section {
            background-color: white;
            padding: 0px;
            margin-top: 0px;
            border-radius: 5px;
            text-align: center;
        }

        footer {
            text-align: center;
            margin-top: 40px;
            color: #777;
        }

        .list {
            float:left;
        }

        .sidebar {
            width: 200px;
            background-color: #333;
            color: white;
            height: 100vh;
            padding-top: 20px;
        }

        .sidebar a {
            display: block;
            color: white;
            padding: 12px 20px;
            text-decoration: none;
        }

        .sidebar a:hover {
            background-color: #575757;
        }