body{
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#fontColor{
    color: rgb(148, 14, 14);
}

.myBorder{
    border-style: double;
    border-width: 2px;
    border-color:whitesmoke;
    color: rgb(212, 194, 32);
}